{% extends 'base.html.twig' %}

{% block content %}
    <h1>Inscription</h1>

    {{ form (form)}} {# Création d'un formulaire avac la méthode twig symfony form  et entre parenthèse 
                     : variable qui vient de "RegisterController.php" #}

    Formulaire d'inscription
{% endblock %}

